.style {
    height: 91.5vh;
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* border: 2px solid red; */

    >img {
        width: 150px;
        height: 150px;
        /* border: 2px solid red; */
    }

}